[submodule "linux"]
  path = linux
  url = https://github.com/sdm660-mainline/linux.git
[submodule "u-boot"]
  path = u-boot
  url = https://github.com/sdm660-mainline/u-boot.git
[submodule "lk2nd"]
  path = lk2nd
  url = https://github.com/sdm660-mainline/lk2nd.git
[submodule "mobian-recipes"]
  path = mobian-recipes
  url = https://salsa.debian.org/Mobian-team/mobian-recipes.git
